{% extends 'leadsMasterApp/base.html' %}
{% load static %}
{% load bootstrap %}

<head>
</head>
{% block nav-companies %}class="active-menu"{% endblock %}

{% block title %} {{index_page }} {% endblock %}}

{%block body_block %}
<div class="row">
    <div class="col-md-7">
        <h2 style="color:#000">Add Life Plan</h2>
    </div>

</div>
<hr />
<div class="col-md-6">
    <form method="POST" >{% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" name="submitBtn" class="save btn btn-default">Save</button>
        <a class="btn btn-default" href="{% url 'companies' %}" role="button"> Cancel</a>
    </form>
</div>

{% endblock %}



