{% extends 'leadsMasterApp/base.html' %}
{% load static %}

{% block title %} {{calendar_page }} {% endblock %}}
{% block nav-calendar %}class="active-menu"{% endblock %}

{%block body_block %}



<div class="month">
  <ul>
    <li class="prev" onclick="prevFunction()">&#10094;</li>
    <li class="next" onclick="nextFunction()">&#10095;</li>
    <li>
      <div id="currMonth"></div>
      <div id="currYear"></div>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
  <li>Su</li>

</ul>

<ul class="days" id="daysBuilder" >

  <!--<li><span class="active">10</span></li>-->
</ul>

{% endblock %}

