
<h1>{{ activity.entryid }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'activity' activity.entryid %}" method="post">
{% csrf_token %}
{% for activity in activity.activity_set.all %}
    <input type="radio" name="field" id="field{{ forloop.counter }}" value="{{ activity.id }}" />
    <label for="field{{ forloop.counter }}">{{ activity.activityname }}</label><br />
{% endfor %}
<input type="submit" value="Add" />
</form>

<!--
<h1>{{ activity.entryid }}</h1>
<ul>
{% for activity in activity.activity.all %}
    <li>{{ activity.activityname }}</li>
{% endfor %}
</ul>
-->
