{% extends 'leadsMasterApp/base.html' %}
{% load static %}
{% block title %} {{index_page }} {% endblock %}}

{%block body_block %}

<div class="row">
    <div class="col-md-12">
        <h2 style="color:#000">Reports </h2>
        <hr/>
        <h3 style="color:#000" >Iconic Introducer Profile</h3>
    </div>
</div>

 <div class="table-responsive">
        <table class="table table-bordered">
            <h4 style="color:#000">Introducers with successful leads over 70% :</h4>
            <thead>
                <th>Name</th>
                <th>Surname</th>
                <th>Percentage Success</th>
            </thead>
            <tbody>
                {% for person,percentage in succPercenSorted.items %}
                <tr>
                    <td>{{person.name}}</td>
                    <td>{{person.surname}}</td>
                    <td>{{percentage}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
 </div>

 <div class="table-responsive">
        <table class="table table-bordered">
            <h4 style="color:#000">Introducers based on profits gained: </h4>
            <thead>
                <th>Name</th>
                <th>Surname</th>
                <th>Profits</th>
            </thead>
            <tbody>
                {% for person,profit in profitBasedSorted.items %}
                <tr>
                    <td>{{person.name}}</td>
                    <td>{{person.surname}}</td>
                    <td>{{profit}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
 </div>



{% endblock %}



