{% extends 'leadsMasterApp/indexBase.html' %}
{% load static %}
{% block title %} {{index_page }} {% endblock %}}
{%block results_block %}
        <!-- General Payments -->
        {% if generalpayments %}
        <div class="table-responsive">
            <table class="table table-bordered">
                <h4 style="color:#000">General Payments</h4>
                <thead>
                    <th>Contract No</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Plan</th>
                    <th>Price</th>
                </thead>
                <tbody>
                    {% for r in generalpayments %}
                    <tr>
                        <td>{{r.idcontract}}</td>
                        <td>{{r.client.name}}</td>
                        <td>{{r.client.surname}}</td>
                        <td>{% for p in r.plan.all %} {{p.name}} , {% endfor %}</td>
                        <td>{{r.price}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <h5 style="color:#000">No General payments due today</h5>
        {% endif %}

        <hr />
        <!-- Life Payments -->
        {% if lifepayments %}
        <div class="table-responsive">
            <table class="table table-bordered">
                <h4 style="color:#000">Life Payments</h4>
                <thead>
                    <th>Contract No</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Plan</th>
                    <th>Price</th>
                </thead>
                <tbody>
                    {% for r in lifepayments %}
                    <tr>
                        <td>{{r.idcontract}}</td>
                        <td>{{r.client.name}}</td>
                        <td>{{r.client.surname}}</td>
                        <td>{% for p in r.plan.all %} {{p.name}} , {% endfor %}</td>
                        <td>{{r.price}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <h5 style="color:#000">No Life payments due today</h5>
        {% endif %}

{% endblock %}

