{% extends 'leadsMasterApp/indexBase.html' %}
{% load static %}
{% block title %} {{index_page }} {% endblock %}}
{%block results_block %}
<!--General Renewals -->
        {% if generalrenewals %}
        <div class="table-responsive">
            <table class="table table-bordered">
                <h4 style="color:#000">General Renewals</h4>
                <thead>
                    <th>Contract No</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Plan</th>
                </thead>
                <tbody>
                    {% for r in generalrenewals %}
                    <tr>
                        <td>{{r.idcontract}}</td>
                        <td>{{r.client.name}}</td>
                        <td>{{r.client.surname}}</td>
                        <td>{% for p in r.plan.all %} {{p.name}} , {% endfor %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
         </div>
        {% else %}
            <h5 style="color:#000">No General renewals due today</h5>
        {% endif %}

        <hr />
        <!--Life Renewals -->
        {% if liferenewals %}
        <div class="table-responsive">
            <table class="table table-bordered">
                <h4 style="color:#000">Life Renewals</h4>
                <thead>
                    <th>Contract No</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Plan</th>
                </thead>
                <tbody>
                    {% for r in liferenewals %}
                    <tr>
                        <td>{{r.idcontract}}</td>
                        <td>{{r.client.name}}</td>
                        <td>{{r.client.surname}}</td>
                        <td>{% for p in r.plan.all %} {{p.name}} , {% endfor %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
         </div>
        {% else %}
            <h5 style="color:#000">No Life Renewals due today</h5>
        {% endif %}

{% endblock %}

