{% extends 'leadsMasterApp/base.html' %}
{% load static %}
{% block title %} {{index_page }} {% endblock %}}
{% block nav-index %}class="active-menu"{% endblock %}


{%block body_block %}

<div class="row">
    <div class="col-md-12">
        {% if user.is_authenticated %}
             <h2 style="color:#000">{{ user.get_username }}'s Dashboard </h2>
                <h5>Welcome back! </h5>
        {% else %}
            Please Login!
        {% endif %}
    </div>
</div>
<hr />
<div class = "row">
<div class="col-md-6">
    <div class="container">
        <form>
            <label class="radio-inline">
              <input type="radio"  onclick="showSales()" name="paymentsSelection">Show Previous Sales
            </label>
            <label class="radio-inline">
              <input type="radio"  onclick="hideSales()" name="paymentsSelection">Hide Previous Sales
            </label>
        </form>
    </div>
</div>
    </div>
<div class="row" id="hideSales">
<!-- Show Sales of this day Last Year -->
        <div class="col-md-6" style="display:table;" >
            <div class="panel panel-warning">
                <div class="panel-heading">General Sales This Day Previous Years</div>
                <div class="panel-body">
                    {% if generalsales %}
                        <div class="table-responsive">
                        <table class="table table-bordered">
                            <h4 style="color:#000">General Sales</h4>
                            <thead>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Plan</th>
                                <th>Annual P.</th>
                                <th>Year</th>
                            </thead>
                            <tbody>
                                {% for c in generalsales %}
                                <tr>
                                    <td>{{c.client.name}}</td>
                                    <td>{{c.client.surname}}</td>
                                    <td>{% for p in c.plan.all %} {{p.name}}  {% endfor %}</td>
                                    <td>£ {{c.annualpremium}}</td>
                                    <td>{{c.issuedate.year }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        </div>
                        <h5 style="float:right">Total General Sales Last Year: <b>{{totalGeneralSales}} </b></h5>
                    {% else %}
                        <h5 style="float:right">Make your FIRST General sale for this day of the year! </h5>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6" style="display:table;">
            <div class="panel panel-warning">
                <div class="panel-heading">Life Sales This Day Previous Years</div>
                <div class="panel-body">

                    {% if lifesales %}
                        <div class="table-responsive">
                        <table class="table table-bordered">
                            <h4 style="color:#000">Life Sales</h4>
                            <thead>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Plan</th>
                                <th>Annual P.</th>
                                <th>Year</th>
                            </thead>
                            <tbody>
                                {% for c in lifesales %}
                                <tr>
                                    <td>{{c.client.name}}</td>
                                    <td>{{c.client.surname}}</td>
                                    <td>{% for p in c.plan.all %} {{p.name}}   {% endfor %}</td>
                                    <td>£ {{c.annualpremium}}</td>
                                    <td>{{c.issuedate.year}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        </div>
                        <h5 style="float:right">Total Life Sales Last Year: <b>{{totalLifeSales}}</b> </h5>
                    {% else %}
                        <h5 style="float:right">Make your FIRST Life sale for this day of the year! </h5>
                    {% endif %}
                </div>
            </div>
        </div>
</div>
<hr />
<div class="row">
        <!-- Select notifications category -->
        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading">Notifications</div>
                <div class="panel-body">
                    <a class="btn btn-default " onclick="todo()">To Do</a>
                    <a class="btn btn-default " onclick="birthdays()">Birthdays</a>
                    <a class="btn btn-default " onclick="renewals()">Renewals</a>
                    <a class="btn btn-default " onclick="payments()">Payments</a>
                    <a class="btn btn-default " onclick="leadsToContact()">Leads</a>
                    <a class="btn btn-default " href="{% url 'index' %}">All</a>
                </div>
            </div>
        </div>
        <!-- // -->
</div>
        <!-- import results from notifications according to selection -->
        <div class="col-md-8" style="display:table;">

                    {% if birthdays or activities or generalrenewals or liferenewals or generalpayments or lifepayments %}
                    <div id="birthdays">
                        <!-- Birthdays Results -->
                        {% if birthdays %}

                        <div class="panel panel-info">
                            <div class="panel-heading">Birthdays</div>
                            <div class="panel-body">
                                {% for b in birthdays%}
                                    <li>{{ b.name }}  {{b.surname}} , {{b.dateofbirth.year}}</li>
                                {% endfor %}
                            </div>
                            </div>
                        {% endif %}
                    </div>

                    <div id="toDo">
                        <!-- To Do's results -->
                        {% if activities %}
                         <div class="panel panel-info">
                            <div class="panel-heading">To Do</div>
                            <div class="panel-body">
                                {% for a in activities%}
                                    <li> {{a.datetime.time}} => {{ a.activityname }} with {{a.customerid.name}} {{a.customerid.surname}} </li>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    </div>

                    <div id="generalRenewals">
                        <!-- General Renewals results -->
                        {% if generalrenewals %}
                        <div class="panel panel-info">
                            <div class="panel-heading">General Renewals</div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <th>Number</th>
                                            <th>Name</th>
                                            <th>Surname</th>
                                            <th>Plan</th>
                                        </thead>
                                        <tbody>
                                            {% for r in generalrenewals %}
                                            <tr>
                                                <td><a class="btn btn-default btn-sm" href="{% url 'contractPage' pk=r.id type='general' %}"><span class="glyphicon glyphicon-pencil"></span></a>{{r.idcontract}}</td>
                                                <td>{{r.client.name}}</td>
                                                <td>{{r.client.surname}}</td>
                                                <td>{% for p in r.plan.all %} {{p.name}}  {% endfor %}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            </div>
                        {% endif %}
                    </div>

                    <div id="lifeRenewals">
                        <!--Life Renewals -->
                        {% if liferenewals %}
                        <div class="panel panel-info">

                        <div class="panel-heading">Life Renewals</div>
                        <div class="panel-body">
                            <h5>Note: Life Contracts will be renewed automatically! </h5>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <th>Number</th>
                                        <th>Name</th>
                                        <th>Surname</th>
                                        <th>Plan</th>
                                    </thead>
                                    <tbody>
                                        {% for r in liferenewals %}
                                        <tr>
                                            <td><a class="btn btn-default btn-sm" href="{% url 'contractPage' pk=r.id type='life' %}"><span class="glyphicon glyphicon-pencil"></span></a>{{r.idcontract}}</td>
                                            <td>{{r.client.name}}</td>
                                            <td>{{r.client.surname}}</td>
                                            <td>{% for p in r.plan.all %} {{p.name}} {% endfor %}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </div>
                        {% endif %}
                    </div>

                    <div id="generalPayments">
                        <!-- General Payments Results -->
                        {% if generalpayments %}
                        <div class="panel panel-info">

                            <div class="panel-heading">General Payments</div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <th>Contract No</th>
                                            <th>Name</th>
                                            <th>Surname</th>
                                            <th>Plan</th>
                                            <th>Price</th>
                                        </thead>
                                        <tbody>
                                            {% for r in generalpayments %}
                                            <tr>
                                                <td><a class="btn btn-default btn-sm" href="{% url 'contractPage' pk=r.id type='general' %}"><span class="glyphicon glyphicon-pencil"></span></a>{{r.idcontract}}</td>
                                                <td>{{r.client.name}}</td>
                                                <td>{{r.client.surname}}</td>
                                                <td>{% for p in r.plan.all %} {{p.name}}  {% endfor %}</td>
                                                <td>£{{r.price}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            </div>
                        {% endif %}
                    </div>

                    <div id="lifePayments">
                        <!-- Life Payments Results -->
                        {% if lifepayments %}
                        <div class="panel panel-info">

                            <div class="panel-heading">Life Payments</div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <th>Contract No</th>
                                            <th>Name</th>
                                            <th>Surname</th>
                                            <th>Plan</th>
                                            <th>Price</th>
                                        </thead>
                                        <tbody>
                                            {% for r in lifepayments %}
                                            <tr>
                                                <td><a class="btn btn-default btn-sm" href="{% url 'contractPage' pk=r.id type='life' %}"><span class="glyphicon glyphicon-pencil"></span></a>{{r.idcontract}}</td>
                                                <td>{{r.client.name}}</td>
                                                <td>{{r.client.surname}}</td>
                                                <td>{% for p in r.plan.all %} {{p.name}} {% endfor %}</td>
                                                <td>£ {{r.price}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            </div>
                        {% endif %}
                    </div>

                    <div id="leadsToContact">
                        {% if result_entities %}
                        <div class="panel panel-info">

                            <div class="panel-heading">Leads To Contact</div>
                            <div class="panel-body">
                            {% for lead in result_entities%}
                                <li><a href="{% url 'ProfileView' pk=lead.idperson %}">{{lead.idperson}} , {{ lead.name }}  {{lead.surname}} </a></li>
                            {% endfor %}
                            </div>
                        </div>
                        {% else %}
                            <div class="panel panel-info">
                                <div class="panel-heading">Leads To Contact</div>
                                <div class="panel-body">
                                    <h5>Check out on Monday!</h5>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    {% else %}
                            <h4 style="color:#000">No Notifications For Today! </h4>
                    {% endif %}
            </div>

        <!-- // -->




{% endblock %}



