{% extends 'leadsMasterApp/base.html' %}
{% load static %}
{% load bootstrap %}
{%block body_block %}

                <div class="row">
                    <div class="col-md-5">
                        <h2 style="color:#000">Login to Leads Master!</h2>
                    </div>

                </div>                <hr/>
                <form id="login_form" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                Username: <input type="text" name="username" value="" size="50" />
                <br />
                Password: <input type="password" name="password" value="" size="50" />
                <br />

                <input type="submit" value="Login" class="btn btn-default btn" /><a href="{% url 'registerAdmin' %}" class="btn btn-default btn" > Register </a>
                </form>
{% endblock %}


