{% extends 'leadsMasterApp/base.html' %}
{% load static %}
{% load bootstrap %}

<head>
</head>
{% block nav-reports %}class="active-menu"{% endblock %}

{% block title %} {{index_page }} {% endblock %}}

{%block body_block %}
<div class="row">
    <div class="col-md-10">
        <h4 style="color:#000">Search to show activities history: </h4>
    </div>
</div>
<hr />


<div class="col-md-6">
    <form method="POST" >{% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" name="submitBtn" class="save btn btn-default">Search</button>
        <a class="btn btn-default" href="{% url 'manHours' %}" role="button"> Clear</a>
    </form>
</div>
<!-- /Filtering Implementation -->

<!-- People Table Implementation -->
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover table-condensed" id="search_results">
                <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Telephone</th>
                    <th>Client</th>
                    <th>Introducer</th>
                    <th>Show</th>
                </thead>
                <tbody>
                    {% for p in people %}
                        {% if p.isclient == 1 %}
                            <tr class ="info " align="center" >
                                <td><a class="btn btn-default btn-sm" href="{% url 'ProfileView' pk=p.id %}"><span class="glyphicon glyphicon-pencil"></span></a>{{p.idperson}}</td>
                                <td>{{p.name}}</td>
                                <td>{{p.surname}}</td>
                                <td>{{p.telephone}}</td>
                                <td> Yes </td>
                                <td>{% if p.isintroducer == 1 %} Yes {% else %} No {% endif %}</td>
                                <td><a class="btn btn-default" href="{% url 'manHoursPerson' pk=p.id %}">Show</a>

                            </tr>
                        {% else %}
                            <tr class ="danger" align="center">

                                    <td><a class="btn btn-default btn-sm" href="{% url 'ProfileView' pk=p.id %}"><span class="glyphicon glyphicon-pencil"></span></a>{{p.idperson}}</td>
                                    <td>{{p.name}}</td>
                                    <td>{{p.surname}}</td>
                                    <td>{{p.telephone}}</td>
                                    <td> No </td>
                                    <td>{% if p.isintroducer == 1 %} Yes {% else %} No {% endif %}</td>
                                <td><a class="btn btn-default" href="{% url 'manHoursPerson' pk=p.id %}">Show</a>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

</div>
{% endblock %}

