{% extends 'leadsMasterApp/base.html' %}
{% load static %}
{% load bootstrap %}
{% block nav-reports %}class="active-menu"{% endblock %}


<head>
</head>
{% block title %} {{addProfile_page}} {% endblock %}}

{%block body_block %}
<div class="row">
    <div class="col-md-12">
        <h3 style="color:#000"> Man Hours Spent With: <u>{{person.name}} {{person.surname}} </u></h3>
    </div>
</div>
<hr />

<div class="row">

    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">Activities </div>
            <ul class="panel-body">
                <ul style="list-style-type:square">
                {% for activity in activities %}
                    <li><b>{{activity.activity.date}} -- {{activity.activity.duration}}min</b>
                    <br>   {{activity.activity.activityname}}<br> {{activity.activity.meeting_minutes}}
                    <br><br></li>
                {% endfor %}</ul>
                <hr />
                <div class="totalHours" align="right">
                    Total Man Hours: <b>{{totalHours}}</b> Hours
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

