{% extends 'leadsMasterApp/base.html' %}
{% load static %}
<head>
</head>
{% block nav-ourPeople %}class="active-menu"{% endblock %}

{% block title %} {{index_page }} {% endblock %}}

{%block body_block %}
<div class="row">
    <div class="col-md-5">
        <h2 style="color:#000">Our People </h2>
    </div>
    <div class="col-md-2">
        <a href="{% url 'addProfile' %}" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-plus"></span> Add New</a>
    </div>

</div>
<hr />

<!-- Filtering/Searching Implementation -->
<!-- TODO: Search Bar -->
<!-- /Filtering Implementation -->

<!-- People Table Implementation -->
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover table-condensed" id="search_results">
                <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Telephone</th>
                    <th>Client</th>
                    <th>Introducer</th>
                    <th>Contracts </th>
                </thead>
                <tbody>
                    {% for p in people %}
                        {% if p.isclient == 1 %}
                            <tr class ="info" align="center">
                                <td><a class="btn btn-default btn-sm" href="{% url 'editProfile' pk=p.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>{{p.idperson}}</td>
                                <td>{{p.name}}</td>
                                <td>{{p.surname}}</td>
                                <td>{{p.telephone}}</td>
                                <td> Yes </td>
                                <td>{% if p.isintroducer == 1 %} Yes {% else %} No {% endif %}</td>
                                <td> Contracts </td>
                            </tr>
                        {% else %}
                            <tr class ="danger" align="center">
                                    <td><a class="btn btn-default btn-sm" href="{% url 'editProfile' pk=p.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>{{p.idperson}}</td>
                                    <td>{{p.name}}</td>
                                    <td>{{p.surname}}</td>
                                    <td>{{p.telephone}}</td>
                                    <td> No </td>
                                    <td>{% if p.isintroducer == 1 %} Yes {% else %} No {% endif %}</td>
                                    <td> No Contracts </td>

                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}



