{% extends 'leadsMasterApp/base.html' %}
{% load static %}
{% block nav-reports %}class="active-menu"{% endblock %}

{% block title %} {{index_page }} {% endblock %}}

{%block body_block %}

<div class="row">
    <div class="col-md-12">
     <h2 style="color:#000">Reports </h2>
    </div>
</div>
<hr />


<div class = "reportsTables" >
<div class="col-md-5">
    <div class = "table-responsive">
        <table class="table">
            <div class="row">
                    <div class="panel panel-info">
                        <div class="panel-heading"><h4 style="color:#000">Iconic Profiles</h4></div>
                        <div class="panel-body">
                            <a class="btn btn-default btn-lg  btn-block" href="{% url 'iconicIntroducer' %}">Introducer Iconic Profile</a>
                            <a class="btn btn-default btn-lg  btn-block" href="{% url 'iconicClient' %}">Client Iconic Profile</a>
                        </div>
                    </div>
            </div>
            <div class="row">
                    <div class="panel panel-info">
                        <div class="panel-heading"> <h4 style="color:#000">Portofolio Reports</h4></div>
                        <div class="panel-body">
                            <a class="btn btn-default btn-lg btn-block " href="{% url 'salesReport' %}">Sales Report</a>
                            <a class="btn btn-default btn-lg  btn-block" href="{% url 'paymentsReport' %}">Payments Report</a>
                        </div>
                    </div>
            </div>
        </table>
    </div>
</div>
<div class = "col-md-1"></div>
<div class="col-md-5">
    <div class = "table-responsive">
        <table class="table">
            <div class="row">
                    <div class="panel panel-info">
                        <div class="panel-heading"><h4 style="color:#000">Leads Reports</h4></div>
                        <div class="panel-body">
                            <a class="btn btn-default btn-lg  btn-block" href="{% url 'succLeads' %}">Successful Leads Report</a>
                            <a class="btn btn-default btn-lg  btn-block" href="{% url 'manHours' %}">Man Hours - Activities</a>
                        </div>
                    </div>
            </div>
            <div class="row">
                    <div class="panel panel-info">
                        <div class="panel-heading"> <h4 style="color:#000">Employees</h4></div>
                        <div class="panel-body">
                            <a class="btn btn-default btn-lg btn-block " href="#">Labour Cost Reports</a>
                        </div>
                    </div>
            </div>
        </table>
    </div>
</div>
    </div>
{% endblock %}



