{% extends 'leadsMasterApp/base.html' %}
{% load static %}
{% load bootstrap %}

<head>
</head>
{% block nav-reports %}class="active-menu"{% endblock %}

{% block title %} {{index_page }} {% endblock %}}

{%block body_block %}
<div class="row">
    <div class="col-md-10">
        <h4 style="color:#000">Select Dates to show Sales: </h4>
    </div>
</div>
<hr />

<div class="row">
<div class="col-md-9">
    <form method="POST" >{% csrf_token %}
        {{ form}}
        {{ plansForm|bootstrap }}

        <br><br>

        <button type="submit" name="submitBtn" class="save btn btn-default">Search</button>
        <a class="btn btn-default" href="{% url 'salesReport' %}" role="button"> Clear</a>
    </form>
</div>

<div class="col-md-6">
    <div class="container">
        <form>
            <label class="radio-inline">
              <input type="radio"  onclick="sales()" name="reportSelection">Sales
            </label>
            <label class="radio-inline">
              <input type="radio"  onclick="profit()" name="reportSelection">Profits
            </label>
        </form>
    </div>
</div>
</div>

<div id="salesDiv">
    {% if generalSalesProfits %}
    <div class="row">
        <br><br>
        <div class="col-md-12">
            <h4><u>General Sales </u></h4>
            <div class="table-responsive" id="salesTable">
                <table class="table table-bordered table-striped table-hover table-condensed" id="search_results">
                    <thead>
                        <th>Num</th>
                        <th>Client</th>
                        <th>Issue Date</th>
                        <th>Expiration Date</th>
                        <th>Plan</th>
                        <th>Company</th>
                        <th>Annual Premium</th>
                        <th>Profit</th>
                    </thead>
                    <tbody>
                        {% for c,profit in generalSalesProfits.items %}
                                <tr class ="info " align="center" >
                                    <td>{{c.idcontract}}</td>
                                    <td>{{c.client}}</td>
                                    <td>{{c.issuedate}}</td>
                                    <td>{{c.expirationdate}}</td>
                                    <td>
                                    {% for p in c.plan.all %}
                                        {{ p.name}}
                                    {% endfor %}</td>
                                    <td>
                                    {% for p in c.plan.all %}
                                        {{ p.company}}
                                    {% endfor %}</td>
                                    <td>£{{c.annualpremium}}</td>
                                    <td>£{{profit}}</td>
                                </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                <h4 style="float:right">Sales For This Period: <b>£{{totalCurrentAnnualGen}}</b></h4>
                            <br><hr/>
                <h4 style="float:right">Profits For This Period: <b>£{{totalGeneralSalesProfit}}</b></h4>

            </div>
            <br><br>
        </div>
    </div>
    <br>
    {% endif %}

    {% if totalLifeSalesProfits %}
    <div class="row">
        <div class="col-md-12">
            <h4><u>Life Sales</u></h4>
            <div class="table-responsive" id="salesTable">
                <table class="table table-bordered table-striped table-hover table-condensed" >
                    <thead>
                        <th>Num</th>
                        <th>Client</th>
                        <th>Issue Date</th>
                        <th>Plan</th>
                        <th>Annual Premium</th>
                        <th>Profit</th>
                    </thead>
                    <tbody>
                        {% for contract,profits in totalLifeSalesProfits.items %}
                                <tr class ="info " align="center" >
                                    <td>{{contract.idcontract}}</td>
                                    <td>{{contract.client}}</td>
                                    <td>{{contract.issuedate}}</td>
                                    <td>{% for p in contract.plan.all %}
                                        {{ p.name }}
                                    {% endfor %} </td>
                                    <td>£{{contract.annualpremium}}</td>
                                    {% for key,value in profits.items %}
                                        {% if key == "thisYearProfit" %}
                                            <td>£{{value}}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                <h4 style="float:right">Sales For This Period: <b>£{{totalCurrentAnnualLife}}</b></h4>
                <br><hr/>
                <h4 style="float:right">Profits For This Period: <b>£{{totalLifeSalesProfit}}</b></h4>

            </div>
        </div>
    </div>
    {% endif %}
</div>

<div id="profitsDiv" >
    {% if generalProfits %}
    <div class="row">
        <br><br>
        <div class="col-md-12">
            <h4><u>General Profits</u></h4>
            <div class="table-responsive" id="salesTable">
                <table class="table table-bordered table-striped table-hover table-condensed" id="search_results">
                    <thead>
                        <th>Num</th>
                        <th>Client</th>
                        <th>Issue Date</th>
                        <th>Expiration Date</th>
                        <th>Plan</th>
                        <th>Company</th>
                        <th>Annual Premium</th>
                        <th>Profit</th>
                    </thead>
                    <tbody>
                        {% for c,profit in generalProfits.items %}
                                <tr class ="info " align="center" >
                                    <td>{{c.idcontract}}</td>
                                    <td>{{c.client}}</td>
                                    <td>{{c.issuedate}}</td>
                                    <td>{{c.expirationdate}}</td>
                                    <td>
                                    {% for p in c.plan.all %}
                                        {{ p.name}}
                                    {% endfor %}</td>
                                    <td>
                                    {% for p in c.plan.all %}
                                        {{ p.company}}
                                    {% endfor %}</td>
                                    <td>£{{c.annualpremium}}</td>
                                    <td>£{{profit}}</td>
                                </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                <h4 style="float:right">Profits For This Period: <b>£{{totalGeneralProfit}}</b></h4>

            </div>
            <br><br>
        </div>
    </div>
    <br>
    {% endif %}

    {% if totalLifeProfits %}
    <div class="row">
        <div class="col-md-12">
            <h4><u>Life Profits</u></h4>
            <div class="table-responsive" id="salesTable">
                <table class="table table-bordered table-striped table-hover table-condensed" >
                    <thead>
                        <th>Num</th>
                        <th>Client</th>
                        <th>Issue Date</th>
                        <th>Plan</th>
                        <th>Annual Premium</th>
                        <th>Profit</th>
                    </thead>
                    <tbody>
                        {% for contract,profits in totalLifeProfits.items %}
                                <tr class ="info " align="center" >
                                    <td>{{contract.idcontract}}</td>
                                    <td>{{contract.client}}</td>
                                    <td>{{contract.issuedate}}</td>
                                    <td>{% for p in contract.plan.all %}
                                        {{ p.name }}
                                    {% endfor %}</td>
                                    <td>£{{contract.annualpremium}}</td>
                                    {% for key,value in profits.items %}
                                        {% if key == "thisYearProfit" %}
                                            <td>£{{value}}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                <h4 style="float:right">Profits For This Period: <b>£{{totalLifeProfit}}</b></h4>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}

